{% extends 'ludogestion/ludogestion.html' %}
{% block content %}
{% load static %}
<h1>Se connecter</h1>
<form class="logging" action="{% url 'ludogestion:log_in'%}" method="POST">
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <td><label for="{{ form.name.id_for_label }}">Nom</label></td>
                            <td>{{ form.name }}</td>
                        </tr>
                        <tr>
                            <td><label for="{{ form.password.id_for_label }}">Mot de passe</label></td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit">Log In</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
{% endblock %}