{% extends 'ludogestion/ludogestion.html' %}
{% block content %}
{% load static %}
<h1>Mes réservations</h1>
{% if not reservations %}
    <h3>Aucune réservation à ce jour</h3>
{% else %}
    <table class="reservation">
        <thead>
        <tr>
            <th>Date de création</th><th>Valide jusqu'au</th><th>Nom du jeu</th><th>Annulez la réservation</th>
        </tr>
        </thead>
        <tbody>
            {% for reservation in reservations%}
        <tr>
            <td>{{ reservation.created_at }}</td><td>{{ reservation.expired_at }}</td><td>
            {% if reservation.game %}
                {{ reservation.game.name }}
            {% elif reservation.addon %}
                {{ reservation.addon.name }}
            {% elif reservation.multiaddon %}
                {{ reservation.multiaddon.name }}
            {% endif %}
        </td><td><a href="{% url 'ludogestion:remove_reservation' reservation_id=reservation.id  %}"><button><i class="fas fa-times-circle"></i></button></a></td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if reservation_result == 1 %}
        <h3 class="success">Réservation réalisée avec succès.</h3>
    {% elif reservation_result == 2 %}
        <h3  class="failure">Echec lors de la réservation, quota maximal atteint.</h3>
    {% endif %}
{% endblock %}