
<div class="col-lg-12 detail-separator">
  <form class="col-md-6 col-md-offset-3 text-center" action="{% url 'ludorecherche:search' %}" method="get" accept-charset="utf-8">
    <div class="form-group center">
      <label for="searchForm">Chercher un jeu</label>
      <input id="searchForm" class="form-control" name="query">
    </div>
    <span class="help-block" id="helpBlock">Trouvez vos jeux en tapant son nom, celui de l'auteur, d'un illustrateurd, de l'éditeur, une difficulté, un de ses mots-clés ou un nombre de joueur</span>
  </form>
</div>
