/*Project:FADDEV31-01-21
AUTHOR NAME: JONATHAN AUDIFFREN
*/

/*Color set:
#5f939a
#d8ac9c
#eac8af
#1b2021*/

/*MAIN*/
body{
    background-color: #5f939a;
    color:#1b2021;
    font-family: 'MedievalSharp', cursive;
}
/*NAV*/
.nav-link{
    color:#1b2021;
    font-size:1em;
}

nav{
    background-color:#5f939ab0;
    margin-bottom:10%;
    position: fixed;
    width:15%;
}
.nav .nav-link{
    font-size:250%;
}
/*BODY*/
.box{
    background-color:#5f939ab0;
    text-align: center;
}
h1,h2{
    font-size:6em;
    margin-top:5%;
    margin-bottom:10%;
}
p{
    font-size:1.5em;
}
/*FOOTER*/
.footer{
    vertical-align: bottom;
    margin-top:10%;
    margin-bottom:10%;
}
#red_stripe{
    color: red;
}
a{
   color:#eac8af; 
}
ul{
    list-style-type: none;
}
.list{
    max-height: 150px;
    max-width:150px;
}
.title{
    font-size:4em;
}
.center{
    align-items: center;
    text-align: center !important;
}
.label_search{
    font-size:1em;
    padding: .5rem 1rem;
}

#advanced{
    border-radius: 50px;
    margin-top:5%;
    margin-bottom:2%;
    font-size: 2em;
    background-color: #d8ac9c;
}
.advanced{
    margin-top:10% ;
    line-height: 200%;
    font-size:2em;
    text-align: left;
}

.advice{
    font-size:0.5em;
}
.search_option{
    font-size: 0.7em;
    padding:0%;
}
td{
    padding:1%;
    text-align:left;
    line-height: 100%;

}
.logo{
    max-width: 50px;
}