{% extends 'ludorecherche/ludorecherche.html' %}
{% block content %}
{% load static %}
<h1><b>{{variable.name}}</b></h1>
    <div class="detail">
        {% if variable.picture %}
            <img alt="{{variable.name}}" id="detail_image" src="{% static 'ludorecherche/img/' %}{{variable.picture}}">
        {% else %}
            <img  id="detail_image" src="{{variable.external_image}}" alt="{{ variable.name }}">
        {% endif %}

        <div>
            {% if designers|length_is:"0"%}
            {% elif designers|length_is:"1"%}
                <h3 class="designer"><b><i class="fas fa-user-edit"></i>Auteur:</b></h3>
            {%else%}
                <h3 class="designer"><b><i class="fas fa-user-edit"></i>Auteurs:</b></h3>
            {% endif %}
            {% if designers|length_is:"0"%}
            {%else%}
                <ul class="designer">
                {% for designer in designers %}
                    <li><a href="{% url 'ludorecherche:designer_game_list' designer_pk=designer.pk %}"><h3 class="designer">{{designer}}</h3></a></li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if artists|length_is:"0"%}
            {% elif artists|length_is:"1"%}
                <h3 class="artist"><b><i class="fas fa-paint-brush"></i>Illustrateur:</b></h3>
            {%else%}
                <h3 class="artist"><b><i class="fas fa-paint-brush"></i>Illustrateurs:</b></h3>
            {%endif%}
            {% if artists|length_is:"0"%}
            {%else%}
                <ul class="artist">
                    {% for artist in artists %}
                    <li><a href="{% url 'ludorecherche:artist_game_list' artist_pk=artist.pk %}"><h3 class="artist">{{artist}}</h3></a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if publishers|length_is:"0"%}
            {% elif publishers|length_is:"1"%}
                <h3 class="publisher"><b><i class="fas fa-paper-plane"></i>Éditeur:</b></h3>
            {% else %}
                <h3 class="publisher"><b><i class="fas fa-paper-plane"></i>Éditeurs:</b></h3>
            {% endif %}
            {% if publishers|length_is:"0"%}
            {%else%}
                <ul class="publisher">
                    {% for publisher in publishers %}
                    <li><a href="{% url 'ludorecherche:publisher_game_list' publisher_pk=publisher.pk %}"><h3 class="publisher">{{publisher}}</h3></a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if playing_mode|length_is:"0"%}
            {%else%}
                <h3><i class="fas fa-chess-knight"></i>Jeu de type:</h3>
            {%endif%}
            {% if playing_modes|length_is:"0"%}
            {%else%}
                <ul class="playing_mode">
                    {% for playing_mode in playing_modes %}
                        <li><a href="{% url 'ludorecherche:playing_mode_game_list' playing_mode_pk=playing_mode.pk %}"><h3 class="playing_mode">{{playing_mode}}</h3></a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if variable.language %}
                <h3><i class="fas fa-language"></i>: {{variable.language}} </h3>
            {% endif %}
            {% if variable.difficulty %}
                <h3><i class="fas fa-signal" style="color:{{color}}"></i>: {{variable.difficulty.name}} </h3>
            {% endif %}
            {% if variable.player_min and variable.player_max %}
                <h3><i class="fas fa-users"></i>: de {{variable.player_min}} à {{variable.player_max}} joueurs</h3>
            {% elif variable.player_min %}
                <h3><i class="fas fa-users"></i>:à partir de {{variable.player_min}} joueurs</h3>
            {% elif variable.player_max %}
                <h3><i class="fas fa-users"></i>:jusqu'à {{variable.player_max}} joueurs</h3>
            {% endif %}
            {% if variable.age %}
                <h3><i class="fas fa-baby"></i><i class="fas fa-child"></i><i class="fas fa-male"></i>: Âge {{variable.age}} et +</h3>
            {% endif %}
            {% if variable.playing_time %}
                <h3><i class="fas fa-stopwatch"></i>: {{variable.playing_time}}</h3>
            {% endif %}
            {% if variable.bgg_link %}
                <h3><a href="{{variable.bgg_link}}"><i class="fas fa-chess-board"></i>Lien vers Board Game Geek ou Tric Trac</a></h3>
            {% endif %}
            <h3><a href="https://www.okkazeo.com/jeux/searchJeux?rech_nom={{variable.name}}"><i class="fas fa-chess-board"></i>Lien vers recherche Okkazeo</a></h3>
            {% if variable.english_name %}
            <h3><a href="https://bgc.moscow/bgg/?q={{variable.english_name}}"><i class="fas fa-chess-board"></i>Sleeve par bgg moscow</a></h3>
            {% endif %}
            {% if games %}
                {% if games|length_is:"0" %}
                {% elif games|length_is:"1" %}
                    <h3 class="multi_add_on"><b><i class="fas fa-folder-minus"></i>Jeu associé:</b></h3>
                {% else %}
                    <h3 class="multi_add_on"><b><i class="fas fa-folder-minus"></i>Jeux associés:</b></h3>
                {% endif %}
                {% if games|length_is:"0" %}
                {% else %}
                    {% for game in games %}
                        <ul>
                            <li><h3 class="multi_add_on"><a href="{% url 'ludorecherche:detail' game_pk=game.pk %}">{{game}}</a></h3></li>
                        </ul>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if add_ons %}
                {% if add_ons|length_is:"0"%}
                {% elif add_ons|length_is:"1"%}
                    <h3 class="add_ons"><b><i class="fas fa-plus-square"></i>Extension:</b></h3>
                {% else %}
                    <h3 class="add_ons"><b><i class="fas fa-plus-square"></i>Extensions:</b></h3>
                {%endif%}
                {% if add_ons|length_is:"0"%}
                {% else %}
                    <ul>
                        {% for add_on in add_ons %}
                            <li><h3 class="add_on"><a href="{% url 'ludorecherche:add_on_detail' add_on_pk=add_on.pk %}">{{add_on}}</a></h3></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {% if multi_add_ons %}
                {% if multi_add_ons|length_is:"0"%}
                {% elif multi_add_ons|length_is:"1"%}
                    <h3 class="multi_add_on"><b><i class="fas fa-plus-square"></i>Extension partagée:</b></h3>
                {% else %}
                    <h3 class="multi_add_on"><b><i class="fas fa-plus-square"></i>Extensions partagées:</b></h3>
                {%endif%}
                {% if multi_add_ons|length_is:"0"%}
                {% else %}
                    <ul>
                        {% for multi_add_on in multi_add_ons %}
                            <li><h3 class="multi_add_on"><a href="{% url 'ludorecherche:multi_add_on_detail' multi_add_on_pk=multi_add_on.pk %}">{{multi_add_on.name}}</a></h3></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {% if link_game %}
                <h3 class="add_on"><b><i class="fas fa-folder-minus"></i>Jeu de base:</b></h3>
                <ul>
                    <li><h3 class="add_on"><a href="{% url 'ludorecherche:detail' game_pk=variable.game.pk %}">{{link_game}}</a></h3></li>
                </ul>
            {% endif %}
            {% if tags %}
                {% if tags|length_is:"0"%}
                {% elif tags|length_is:"1"%}
                    <h3 class="tag"><b><i class="fas fa-tags"></i>Étiquette:</b></h3>
                {% else %}
                    <h3 class="tag"><b><i class="fas fa-tags"></i>Étiquettes:</b></h3>
                {% endif %}
                {% if tags|length_is:"0"%}
                {%else%}
                    <ul class="tag">
                        {% for tag in tags %}
                            <li><a href="{% url 'ludorecherche:tag_game_list' tag_pk=tag.pk %}" ><h3 class="tag">{{tag}}</h3></a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {% if topics %}
                {% if topics|length_is:"0"%}
                {% elif topics|length_is:"1"%}
                    <h3 class="tag"><b><i class="fab fa-affiliatetheme"></i>Thème associé:</b></h3>
                {% else %}
                    <h3 class="tag"><b><i class="fab fa-affiliatetheme"></i>Thèmes associés:</b></h3>
                {% endif %}
                {% if topics|length_is:"0"%}
                {%else%}
                    <ul class="tag">
                        {% for topic in topics %}
                            <li><a href="{% url 'ludorecherche:topic_game_list' topic_pk=topic.pk %}" ><h3 class="tag">{{topic}}</h3></a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {% if mechanisms %}
                {% if mechanisms|length_is:"0"%}
                {% elif mechanisms|length_is:"1"%}
                    <h3 class="tag"><b><i class="fas fa-cog"></i>Mécanisme de jeu associé:</b></h3>
                {% else %}
                    <h3 class="tag"><b><i class="fas fa-cog"></i>Mécanismes de jeu associés:</b></h3>
                {% endif %}
                {% if mechanisms|length_is:"0"%}
                {%else%}
                    <ul class="tag">
                        {% for mechanism in mechanisms %}
                            <li><a href="{% url 'ludorecherche:mechanism_game_list' mechanism_pk=mechanism.pk %}" ><h3 class="tag">{{mechanism}}</h3></a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}