{% if games|length_is:"0" %}
{% load static %}
<h3>{{interface.theme.empty_query_text}}</h3><img class='col-9' src="{% static 'ludorecherche/img/'%}{{interface.theme.empty_query_image}}" alt="un trésor vide">

{% else %}
    <div>
        {% for game in games %}
            <div>
                <div class="image">
                    <img  src="{% static 'ludorecherche/img/'%}{{ game.picture }}" alt="{{ game.name }}">
                </div>
                <h3><a href="{% url 'ludorecherche:detail' game_pk=game.pk %}">{{ game.name }}</a></h3>
                {% for designer in game.designers.all %}
                    <p>{{ designer.name }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}